{{=<% %>=}}
  {% capture asset_dir %}/assets/{{page.dir | split: "/" | shift | join: "/"}}{{ page.name | remove: ".md" }}{%
  endcapture %}
  {%- assign titles = include.title | split: ";" -%}
  {%- assign alts = include.alt | split: ";" -%}
  {%- assign sources = include.src | split: ";" -%}
  {%- assign captions = include.caption | split: ";" -%}
  <div class="image-block">
    {%- for image in sources -%}
    <div class="image-wrapper">
      <img title="{{ titles[forloop.index0] | strip }}" alt="{{ alts[forloop.index0] | strip }}" loading="lazy"
        src="{{asset_dir}}/{{ sources[forloop.index0] | strip }}" />
      <em>{{ captions[forloop.index0] | strip }}</em>
    </div>
    {%- endfor -%}
  </div>