@media print {
   @page {
      size: A4;
   }

   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
      color-adjust: exact;
   }

   body {
      padding: 0 !important;
      font-size: 11pt;
   }

   img.avatar {
      filter: grayscale(1);
      -webkit-filter: greyscale(1);
   }

   .resume-wrapper {
      max-width: unset !important;
      display: unset;
   }

   .main-wrapper {
      -webkit-print-color-adjust: exact;
      padding: 10px 30px 30px 30px;
   }

   .wrapper {
      display: block;
   }

   // .details-container {
   //    padding: 0 0.5rem 0 0.5rem;
   // }

   .sidebar-wrapper {
      position: static;
      -webkit-print-color-adjust: exact;

      width: inherit;

      .interests-container {
         display: none;
      }

      .education-container {
         max-width: 50%;
      }

      .contact-container {
         width: fit-content;
         margin: auto;
      }

      .resume-contact-list {
         display: grid;
         grid-template-columns: repeat(2, auto);
         width: fit-content;
         margin: 0 auto;
         column-gap: 1.5rem;
         row-gap: .3rem;

         li {
            margin-bottom: 0;
         }
      }
   }

   .remove-container.container-block {
      display: none;
   }


   header,
   .site-header,
   nav,
   footer {
      display: none;
   }


   .skillset .level-bar-inner {
      background-color: black !important;
      -webkit-print-color-adjust: exact;
   }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
      color: #ffffff !important;
   }

}