@media print {
   @page {
      size: A4;
   }

   body {
      padding: 0 !important;
      font-size: 12pt;
   }

   img.avatar {
      filter: grayscale(1);
      -webkit-filter: greyscale(1);
   }

   .resume-wrapper {
      max-width: unset !important;
   }

   .main-wrapper {
      -webkit-print-color-adjust: exact;
      padding: 30px;
   }

   .sidebar-wrapper {
      position: static;
      -webkit-print-color-adjust: exact;
   }

   .remove-container.container-block {
      display: none;
   }


   header,
   .site-header,
   nav,
   footer {
      display: none;
   }


   .skillset .level-bar-inner {
      background-color: black !important;
      -webkit-print-color-adjust: exact;
   }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
      color: #ffffff !important;
   }

}