@media print {
   @page {
      size: A4;
   }

   body {
      padding: 0 !important;
      font-size: 11pt;
   }

   img.avatar {
      filter: grayscale(1);
      -webkit-filter: greyscale(1);
   }

   .resume-wrapper {
      max-width: unset !important;
      display: unset;
   }

   .main-wrapper {
      -webkit-print-color-adjust: exact;
      padding: 30px;
   }

   .wrapper {
      display: block;
   }

   // .details-container {
   //    padding: 0 0.5rem 0 0.5rem;
   // }

   .sidebar-wrapper {
      position: static;
      -webkit-print-color-adjust: exact;

      width: inherit;

      .interests-container {
         display: none;
      }

      .education-container {
         max-width: 50%;
      }
   }

   .remove-container.container-block {
      display: none;
   }


   header,
   .site-header,
   nav,
   footer {
      display: none;
   }


   .skillset .level-bar-inner {
      background-color: black !important;
      -webkit-print-color-adjust: exact;
   }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
      color: #ffffff !important;
   }

}