/* Global level toggle  */
@media (max-width: 1014px) {
  .resume-wrapper {
    display: unset;
  }

  .sidebar-wrapper {
    position: static;
    width: inherit;

    .profile-container {
      padding: 1rem 1.2rem 0.5rem 1.2rem;
    }

    .interests-container {
      display: none;
    }

    .education-container {
      max-width: 50%;
    }
  }

  .wrapper {
    display: block;
  }

  .details-container {
    padding: 0 1.2rem 0 1.2rem;
  }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .sidebar-wrapper {
    position: static;
    width: inherit;

    .details-container {
      justify-content: space-between !important;
    }
    .education-container {
      max-width: 100% !important;
    }
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .skillset .level-title {
    float: left;
    width: 30%;
    margin-bottom: 0;
  }

  .skillset .level-bar {
    width: 70%;
    float: left;
    position: relative;
    top: 1px;
  }
}

.skillset .level-bar-inner {
  width: auto;
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
}
