/**
 * Color definitions
 */
:root {
  --color-primary: rgb(238, 82, 16);
  --line-height-body: 1.4;
  --responsive-small: 768px;
  --responsive-medium: 992px;
}

/**
 * The core 'keep it simple' stylesheet
 * source: http://bettermotherfuckingwebsite.com/
 */
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto 1rem auto;
  /* margin: 1rem auto; */
  max-width: 650px;
  line-height: var(--line-height-body);
  font-size: 1rem;
  color: #444;
  padding: 0 10px;
}

h1,
h2,
h3 {
  margin: 1rem auto 0.2rem auto;
  line-height: 1.2;
}

p {
  margin-top: 0px;
}

/**
 * Links
 */
a {
  color: var(--color-primary);
  text-decoration: none;
}

a:visited {
  color: rgb(242, 116, 63);
}

ul {
  padding-left: 1.5rem;
}

/**
 * Image rendering
 */
img {
  max-width: 100%;
  text-align: center;
}

img+em,
video+em,
figcaption {
  font-size: 1rem;
  font-style: normal;
  display: block;
  text-align: center;
}

.divider {
  border-bottom: 1px solid #e8e8e8;
  margin: 0;
  width: 100%;
}

.image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.image-wrapper {
  margin: 0 1rem;
  min-width: 45%;
  max-width: 300px;
}

.image-wrapper img,
.image-wrapper video {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 600px) {
  .image-block {
    flex-direction: column;
  }
}

/**
 *  classes for basic jekyll template
 */
/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid #e8e8e8;
  margin: 1rem auto 0 auto;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.site-title {
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin: 0;
}

.site-title a {
  display: flex;
  align-items: center;
}

.site-title .site-logo {
  height: 1.3em;
  margin-right: 0.3em;
}

.site-nav {
  position: relative;
}

.site-header .site-nav a:not(:last-child) {
  border-right: 2px solid #444;
  padding-right: 0.5em;
  padding-top: 1px;
  margin-right: 0.5em;
}

.site-header .nav-trigger {
  display: none;
}

.site-header .menu-icon {
  display: none;
}

/* Responsive navigation styles */
@media screen and (max-width: 600px) {

  .site-nav {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    background: white;
    border: 1px solid #e8e8e8;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    z-index: 998;
  }

  .site-header .nav-trigger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
  }

  .site-header .menu-icon {
    display: block;
    position: relative;
    margin: 0.5rem;
    width: 18px;
    height: 15px;
    cursor: pointer;
    z-index: 999;
  }

  .site-header .menu-icon svg {
    fill: #424242;
  }

  .site-nav a {
    display: block;
    padding: 0.5rem 1rem !important;
    border-right: unset !important;
    border-bottom: 1px solid #f0f0f0;
  }

  .site-nav a:last-child {
    border-bottom: none;
  }

  .site-nav a:hover {
    background-color: #f8f8f8;
  }

  /* Show menu when checkbox is checked */
  .site-header .nav-trigger:checked~.site-nav {
    max-height: 7.35rem;
    /* Large enough for your menu */
    transition: max-height 0.75s ease-in-out;
  }
}

@media screen and (min-width: 601px) {
  .site-nav {
    display: flex;
    align-items: center;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
  display: flex;
  justify-content: center;
}

.footer-contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


.footer-col {
  float: left;
  margin-bottom: 15px;
  padding: 0 15px;
}

.footer-col-1 {
  text-align: right;
}

.page-link {
  margin-right: 5px;
}

/* Icon rendering */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top;
}

/* Book Reviews */
.books-summary {
  margin-top: 1rem;
}

.book-review:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

.book-title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.book-title {
  margin-left: 0;
  margin-right: 0;
}

.book-date {
  color: #666;
  font-size: 0.9em;
  white-space: nowrap;
}

.star-rating {
  display: inline-flex;
  gap: 2px;
}

.star {
  color: #ddd;
  font-size: 1.2em;
}

.star.filled {
  color: var(--color-primary);
}

.book-meta {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .left-content {
    display: flex;
    align-items: center;

    span:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .date {
    white-space: nowrap;
  }


  .tag {
    display: inline-block;
    background: #f0f0f0;
    padding: 0.2em 0.6em;
    border-radius: 3px;
    font-size: 0.8em;
    margin-right: 0.5rem;
    color: #666;
  }
}

.review-content {

  /* make up for reduced bottom margin from paragraphs */
  margin-bottom: 0.8rem;

  p {
    margin-bottom: 0.2rem;
  }

  blockquote {
    background-color: #ededed;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;

    p {
      margin: 0;
    }

    p::before {
      content: "\201C";
    }

    p::after {
      content: "\201D";
    }

  }
}