---
layout: default
---
<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% include categories.html %}
  <p>category_hues: {{ category_hues | join: ", " }}</p>

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta-date">{{ post.date | date: date_format }}</span>
      {%- for category in post.categories-%}
      {% assign category_hue = category_hues | split: category | last | split:
      "," | slice: 1, 1 %}
      <p class="post-meta-category" style="background: hsl({{category_hue}}turn 50% 90%)">{{category_hue}} -
        {{category}}
      </p>
      {%- endfor -%}
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}

</div>