---
layout: default
---

<div class="resume-wrapper">
  {% include resume-sidebar.liquid %}
  <div class="main-wrapper">
    {% include resume-career-profile.liquid %}

    {% include resume-experiences.liquid %}

    {% include resume-certifications.liquid %}

    {% include resume-achievements.liquid %}

    {% include resume-projects.liquid %}

    {% include resume-publications.liquid %}

    {% include resume-skills.liquid %}
  </div>
</div>
{% include resume-footer.liquid %}